{%extends "base.html"%}
{%block title%}
<title>Scammer</title>
{%endblock%}
{%block nav%}
<ul class="navbar-nav gap-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Infomations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/UBCHECK">Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/aboutme">About </a>
    </li>
</ul>
{%endblock%}
{%block content %}
<div class="container bg-light-subtle p-0 pb-5">
    <div class="container text-center d-flex align-content-center justify-content-center p-3" style="text-shadow: 2px 2px 4px rgb(179, 179, 179);">
        <h1 class="fs-1" style="margin-bottom: 0px">
            <span class="text-danger">SCAM</span>MER</h1>
    </div>
    <div class="container bg-dark-subtle p-3 py-4 shadow d-flex justify-content-center align-items-center">
        <div class="row align-items-center g-4">
            <div class="col-12 col-md-6">
                <img class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1603714228681-b399854b8f80?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="...">
            </div>
            <div class="col-12 col-md-6 text-start fs-5 d-flex flex-column">
                <h2 class="text-center">อาชญากรรมทางเทคโนโลยี Scammer</h2>
                <p>สภาวการณ์อาชญากรรมทางเทคโนโลยีในประเทศไทยได้เปลี่ยนผ่านจากการหลอกลวงในระดับบุคคลไปสู่โครงสร้างอาชญากรรมข้ามชาติที่มีการจัดตั้งองค์กรอย่างเป็นระบบ
                    โดยมีการขยายตัวอย่างรวดเร็วตามการเติบโตของเศรษฐกิจดิจิทัลและการใช้ชีวิตที่ผูกติดกับแพลตฟอร์มออนไลน์มากขึ้น
                    ในช่วงปี พ.ศ. 2568-2569 มิจฉาชีพได้นำเทคโนโลยีขั้นสูง โดยเฉพาะปัญญาประดิษฐ์ (AI)
                    มาผสมผสานกับกลโกงรูปแบบเดิมจนมีความซับซ้อนและแนบเนียนขึ้นอย่างก้าวกระโดด
                    จากเดิมที่เป็นเพียงกลุ่มแฮกเกอร์ไร้ระบบ
                    ปัจจุบันปฏิบัติการเหล่านี้มีโครงสร้างการทำงานเหมือนองค์กรธุรกิจ มีคู่มือสคริปต์
                    และเวลาเข้า-ออกงานที่ชัดเจน</p>
            </div>
        </div>
    </div>

    <div class="container mt-5  px-5">
        <div class="">
            <h2>ปัญหาและวิกฤตที่เผชิญในปัจจุบัน</h2>
            <p class="w-75 my-3 mb-4">ปัจจุบันมิจฉาชีพออนไลน์ในไทยมีแนวโน้มเพิ่มสูงขึ้นทุกปี ทั้งในรูปแบบ Call center, SMS
                phishing, QR Code หลอกลวง และเสียงสังเคราะห์ AI (Deepfake Voice) ที่แอบอ้างตัวตน
                ประชาชนยังขาดเครื่องมือที่ช่วยตรวจสอบได้แบบครบวงจร</p>
        </div>
        <div class="row justify-content-md-center g-2 gap-md-5">
            <div
                class="col-md-2 col-12 shadow d-flex hover-scale flex-column gap-md-2 p-3 text-dark bg-light rounded align-items-center">
                <i class="bi bi-cash-stack fs-1"></i>
                <strong class="text-center">
                    ความเสียหายทางเศรษฐกิจมหาศาล
                </strong>
                <p class="mb-0">เพียงสองเดือนแรกของปี 2568 มีมูลค่าความเสียหายสูงถึง 3.4
                    พันล้านบาท จากการแจ้งความออนไลน์กว่า 43,217 เรื่อง</p>
            </div>
            <div
                class="col-md-2 col-12 shadow d-flex hover-scale flex-column gap-md-2 p-3 text-dark bg-light rounded align-items-center">
                <i class="bi bi-person-check-fill fs-1"></i>
                <strong class="text-center">
                    กลุ่มเป้าหมายที่กว้างขึ้น
                </strong>
                <p class="mb-0">"กลุ่มวัยทำงาน" (อายุ 20-49 ปี)
                    ตกเป็นเป้าหมายหลักเนื่องจากเป็นกำลังหลักของตลาดแรงงานและมีกำลังซื้อสูง โดยในปี 2568
                    พบผู้เสียหายกลุ่มนี้กว่า 4 แสนเคส มูลค่าความเสียหายกว่า 2.3 หมื่นล้านบาท
                    ขณะที่กลุ่มเยาวชนและผู้สูงอายุก็เริ่มถูกโจมตีหนักขึ้นผ่านการข่มขู่หรือหลอกเรื่องเงินบำนาญ</p>
            </div>
            <div
                class="col-md-2 col-12 shadow d-flex hover-scale flex-column gap-md-2 p-3 text-dark bg-light rounded align-items-center">
                <i class="bi bi-emoji-smile-upside-down-fill fs-1"></i>
                <strong class="text-center">
                    เทคโนโลยี AI Deepfake
                </strong>
                <p class="mb-0">มิจฉาชีพใช้ AI
                    ปลอมแปลงใบหน้าและเสียงเพื่อวิดีโอคอลแอบอ้างเป็นคนรู้จักหรือเจ้าหน้าที่รัฐเพื่อสร้างความเชื่อใจและหลอกให้โอนเงิน
                </p>
            </div>
            <div
                class="col-md-2 col-12 shadow d-flex hover-scale flex-column gap-md-2 p-3 text-dark bg-light rounded align-items-center">
                <i class="bi bi-file-earmark-lock fs-1"></i>
                <strong class="text-center">
                    ข้อมูลส่วนบุคคลรั่วไหล
                </strong>
                <p class="mb-0">หมายเลขโทรศัพท์ที่รั่วไหลกว่า 94% ถูกเชื่อมโยงกับชื่อ-นามสกุลจริง
                    ทำให้มิจฉาชีพสามารถทำการ "Profiling" เพื่อสร้างเรื่องราวหลอกลวงที่เจาะจงบุคคลได้อย่างแนบเนียน</p>
            </div>
            <div
                class="col-md-2 col-12 shadow d-flex hover-scale flex-column gap-md-2 p-3 text-dark bg-light rounded align-items-center">
                <i class="bi bi-arrows-move fs-1"></i>
                <strong class="text-center">
                    ข้อมูลส่วนบุคคลรั่วไหล
                </strong>
                <p class="mb-0">การหลอกซื้อขายสินค้าออนไลน์ยังคงครองแชมป์จำนวนคดีสูงสุด (57%)
                    แต่การหลอกลงทุนและการหลอกให้ทำงานเสริมออนไลน์สร้างความเสียหายในเชิงมูลค่าสูงที่สุด
                    นอกจากนี้ยังมีปัญหา Hybrid Scam หรือ Pig-Butchering ที่ผสมผสานการหลอกให้รักแล้วชวนลงทุน</p>
            </div>
        </div>
    </div>
    <div class="container mt-5 text-center">
        <div class="text-center my-5">
            <h2>ตัวเลขความเสียหายจากอาชญากรรมทางเทคโนโลยีใน พ.ศ. 2568</h2>
        </div>
        <div class="row px-3 justify-content-around">
            <div
                class="col-12 hover-scale bg-light col-md-3 rounded shadow d-flex flex-column align-items-center justify-content-center p-3">
                <h3>43,217 เรื่อง</h3>
                <p>พบการแจ้งความออนไลน์สะสม โดยมีมูลค่าความเสียหายรวมกว่า 3,427 ล้านบาท</p>
            </div>
            <div
                class="col-12 hover-scale bg-light col-md-3 rounded shadow d-flex flex-column align-items-center justify-content-center p-3">
                <h3>อันดับ 1</h3>
                <p>การหลอกลงทุนผ่านคอมพิวเตอร์</p>
            </div>
            <div
                class="col-12 hover-scale bg-light col-md-3 rounded shadow d-flex flex-column align-items-center justify-content-center p-3">
                <h3>14,985 ล้าน</h3>
                <p>การหลอกโอนเงินเพื่อทำงานออนไลน์</p>
            </div>
        </div>

        <div class="row px-3 mt-4 justify-content-around">
            <div
                class="col-12 hover-scale bg-light col-md-3 rounded shadow  p-3 d-flex flex-column align-items-center justify-content-center">
                <h3>10,761 ล้าน</h3>
                <p>การข่มขู่ทางโทรศัพท์ (Call Center)</p>
            </div>
            <div
                class="col-12 hover-scale bg-light col-md-3 rounded shadow  p-3 d-flex flex-column align-items-center justify-content-center">
                <h3>8,814 ล้าน</h3>
                <p>การหลอกโอนเงินเพื่อรับรางวัล</p>
            </div>
            <div
                class="col-12 hover-scale bg-light col-md-3 rounded shadow  p-3 d-flex flex-column align-items-center justify-content-center">
                <h3>173 ล้านครั้ง</h3>
                <p>พบว่าคนไทยตกเป็นเป้าหมายของมิจฉาชีพผ่านทางโทรศัพท์และ SMS</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}