{%extends "base.html"%}
{%block title%}
    <title>UBCHECK</title>
{%endblock%}
{%block nav%}
    <ul class="navbar-nav gap-3">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Infomations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/UBCHECK">Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutme">About </a>
        </li>
    </ul>
{%endblock%}
{%block content%}

<h1 class="text-center">UBCHECK</h1>

{%endblock%}